@import '../../colors';
@import '../../mixins';
@import '../../media-queries';

.container {
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.ts-card {
  flex: 1 1 1100px;
  flex-wrap: wrap;
  /* used to make the ellipsis stuff work */
  min-width: 0;
  /* Used to make the flexbox items grow to their own height instead of their parent's
   ***Needs to be 0% not just 0***  */
  height: 0%;
  padding: 0 !important;
  max-width: 1000px;
  margin-top: 15px;

}

.rotate {
  transition: .2s;
  transform: scale(.75);
}

.rotate-90 {
  transform: scale(.75) rotateZ(-180deg);
}

.header-btns {
  height: 32px !important;
  @include lt-sm() {
    padding-left: 0;
  }


  h5 {
    cursor: pointer;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
    line-height: 24px;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover {
      color: #306DA4;
    }
  }

  .select-all-btn {
    color: rgba(0, 0, 0, 0.54);
    transform: scale(1.1);
    margin-left: 8px;
    @include lt-sm() {
      margin-left: 0;
    }
  }

  .title-btn {
    margin-left: 5px;
  }

  .created-on-btn {
    width: 70px;
    margin-right: 26px;
  }
}

.input-div {
  display: flex;
  padding: 0 16px;
  margin-bottom: -10px; // not a huge fan of this...but it looks better

  mat-form-field {
    width: 100%;
  }
}

mat-card-title {
  font-size: 16px;
  font-weight: 500;
}


.filters {
  flex-wrap: wrap;
  @include flex-align-center();
  padding: 10px 16px;

  mat-form-field {
    @media screen and (max-width: 620px) {
      margin-top: 10px;
      width: 100%;
    }
  }

}

.remaining-todos {
  @include flex-align-center();
  flex-wrap: wrap;
  @include xs() {
    justify-content: center;
  }
}

.flex-align-right {
  justify-content: flex-end;
}

.header {
  padding-top: 5px;
  margin-bottom: 5px;
  background-color: $background;
}
