<div class="container">
  <mat-card class="ts-card">
    <div class="header">
      <div class="input-div" fxHide.gt-xs>
        <mat-form-field>
          <mat-label>{{ 'Search ' + (sessionService.pageTitle$ | async) }}</mat-label>
          <input matInput name="searchInput" [(ngModel)]="sessionService.searchInput">
          <button *ngIf="sessionService.searchInput.length" color="primary" matSuffix mat-icon-button aria-label="Clear"
                  (click)="sessionService.searchInput = ''" matTooltip="Clear" matTooltipPosition="before"
                  matTooltipClass="ts-tooltip">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="filters">
        <div class="remaining-todos">
          <mat-chip-list class="small-chips">
            <mat-chip color="accent" selected="true">
              Remaining:&nbsp;&nbsp;{{numberRemaining}}
            </mat-chip>
            <mat-chip color="primary" selected="true" *ngIf="numberCompleted">
              Completed:&nbsp;&nbsp;{{numberCompleted}}
            </mat-chip>
          </mat-chip-list>
          <button *ngIf="numberCompleted" mat-button (click)="deleteCompleted()" color="primary"
                  matTooltip="Clear Completed" matTooltipClass="ts-tooltip"
                  aria-label="Clear Completed">
            <mat-icon>clear_all</mat-icon>
            Clear Completed
          </button>
        </div>
        <div class="fill-remaining-space"></div>

        <mat-form-field>
          <mat-label>Showing</mat-label>
          <mat-select [(ngModel)]="activeFilter">
            <mat-option [value]="FilterBy.all">All</mat-option>
            <mat-option [value]="FilterBy.incomplete">Active</mat-option>
            <mat-option [value]="FilterBy.complete">Completed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="input-div">
      <mat-form-field appearance="outline">
        <mat-label>Add Todo</mat-label>
        <input matInput name="newTodo" [(ngModel)]="newDescription" (keyup.enter)="createTodo()">
        <button matSuffix mat-icon-button (click)="createTodo()" color="primary" [disabled]="!newDescription?.length"
                matTooltip="Add Todo" matTooltipPosition="before" matTooltipClass="ts-tooltip">
          <mat-icon>check</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-toolbar class="header-btns">
      <button mat-icon-button class="select-all-btn" (click)="toggleAllCompleted()"
              matTooltip="Mark all {{allCompleted ? 'Incomplete' : 'Complete'}}"
              matTooltipClass="ts-tooltip" matTooltipPosition="above">
        <mat-icon *ngIf="!allCompleted">check_box_outline_blank</mat-icon>
        <mat-icon *ngIf="allCompleted" color="primary">check_box</mat-icon>
      </button>
      <h5 class="title-btn" (click)="sortByTitle()">
        Title
        <mat-icon *ngIf="sorter['description']" class="rotate"
                  [ngClass]="{'rotate-90': sorter['description'] === Sorted.descending}">arrow_downward
        </mat-icon>
      </h5>
      <div class="fill-remaining-space"></div>
      <h5 class="created-on-btn" (click)="sortByCreatedDate()">
        Created
        <mat-icon *ngIf="sorter['createdAt']" class="rotate"
                  [ngClass]="{'rotate-90': sorter['createdAt'] === Sorted.descending}">arrow_downward
        </mat-icon>
      </h5>

    </mat-toolbar>
    <mat-list class="ts-list" cdkDropList (cdkDropListDropped)="dropTodo($event)" tsStopPropagation *ngIf="todos?.length">
      <mat-list-item class="list-item" cdkDrag matRipple matRippleDisabled="true"
                     *ngFor="let todo of todos | searchFilter: sessionService.searchInput | filterByStatus: activeFilter; let i = index;"
                     (dblclick)="editDescription(todo)"
                     (click)="todo.id !== editingTodo?.id && update()"
                     (contextmenu)="openContextMenu($event, todo, i)" [class.editing]="todo.id === editingTodo?.id">
        <div class="drag-handle" cdkDragHandle fxHide.lt-sm>
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <mat-checkbox color="primary" [checked]="todo.complete" (change)="toggleCompleted($event, todo)"
                      tsStopPropagation></mat-checkbox>
        <div class="list-title">
          <span *ngIf="editingTodo?.id !== todo.id">{{ todo.description }}</span>
          <mat-form-field *ngIf="editingTodo?.id === todo.id">
            <input matInput [(ngModel)]="todo.description" (ngModelChange)="todoChanged = true">
          </mat-form-field>
        </div>

        <div class="list-date" [matTooltip]="todo.createdAt | date : 'mediumDate'"
             matTooltipPosition="before" matTooltipClass="ninety-tooltip">
          {{ todo.createdAt | date : 'MMM d' }}
        </div>
        <button class="delete-btn" mat-icon-button (click)="delete(todo, i)" aria-label="Delete Todo"
                matTooltip="Delete Todo" matTooltipPosition="above" matTooltipClass="ts-tooltip">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <ts-alert *ngIf="todos && !todos.length">Oops...you have no todo's.  Todo's can be created using the input above.</ts-alert>
    <!-- <mat-card-footer *ngIf="todos?.length">
      <mat-divider></mat-divider>

     <mat-paginator [length]="todos.length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [showFirstLastButtons]="true"
                     (page)="onPageEvent($event)">
      </mat-paginator>
    </mat-card-footer>-->
  </mat-card>
</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-todo="todo" let-index="index">
    <button mat-menu-item class="hidden"></button>
    <button mat-menu-item (click)="moveTodo(index, 0)">
      <mat-icon>arrow_upward</mat-icon>
      <span>Top of List</span>
    </button>
    <button mat-menu-item (click)="moveTodo(index, todos.length - 1)">
      <mat-icon>arrow_downward</mat-icon>
      <span>Bottom of List</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item
            (click)="cloneTodo(todo)">
      <mat-icon>file_copy</mat-icon>
      <span>Clone</span>
    </button>
    <button mat-menu-item (click)="delete(todo, index)" class="red">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
