.username {
  font-size: 18px;
  font-weight: 400;
  margin-right: 1rem;
}

.menu-btn {
  font-size: 32px;
  text-align: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #dedede;

  .mat-icon {
    height: 32px;
    width: 32px;
    transform: scale(1.3);
  }

  &:hover {
    box-shadow: 0 0 6px 1px #D42626;
    color: #D42626;
  }
}

.logout-btn {
  &, .mat-icon {
    color: #D42626;
  }
}
