mat-toolbar {
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
}

.page-title {
  font-weight: 400;
  border-left: 1px solid #fff;
  margin-left: 16px;
  padding-left: 16px;
}

button {
  margin-right: 15px;
}
