mat-toolbar {
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
}

.page-title {
  font-weight: 400;
  border-left: 1px solid #fff;
  margin-left: 16px;
  padding-left: 16px;
}

.refresh-btn {
  margin-right: 15px;
}

.search-input {
  margin-right: 1em;
  font-size: 16px;
  .mat-form-field-flex {
    width: 200px;
  }
}
